README.txt
setup.py
loft/FilterEngine.py
loft/LoftEngine.py
loft/Producer.py
loft/Tailer.py
loft/__init__.py
loft/conf/__init__.py
loft/conf/Config.py
loft/conf/Filters.py
init.d/loft
recursive-include init.d *
include loft
recursive-include loft/conf *
include LoftLogConfig